.container{
  width: 30%;
  height: 30%;
  right: 50%;
  border: 1px black solid;
  background-color: rgb(252, 252, 252);
  display: flex;
 justify-content: center;
  padding: 2% 2% 8% 9%;
 margin: 100px 600px;
  
}
.row{
  display: flex;
  flex-direction: column;

  
}